[2021-07-22 02:09] iliailmer opened #21 "Tests sometimes fail because of GroebnerBasis.jl"
Temporary fix: just restarting the test

also reported here: https://github.com/ederc/GroebnerBasis.jl/issues/42

[2021-07-27 01:33] iliailmer commented on #21
[code]

[2021-07-30 01:19] JuliaTagBot opened #27 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-07-30 01:19] #27 closed

[2021-08-17 00:44] lamorton opened #33 "Error on front-page example"
I just installed & tried this out.

[code]

My environment:

[code]
Packages:
[code]

[2021-08-17 02:16] iliailmer commented on #33
Could you try installing from source?
[code]
This will be fixed in the upcoming release.

[2021-08-19 19:49] pogudingleb commented on #33
@lamorton Did it work out? Please let us know if you have any further question on the package

[2021-08-20 02:45] lamorton commented on #33
Sorry, I haven't had time to try the fix you suggested yet.

[2021-08-28 14:59] iliailmer commented on #33
@lamorton The fix for this issue has been released.

[2021-08-28 16:02] #33 closed

[2021-08-30 16:19] pogudingleb opened #42 "Multivariate factorization Singular -> Nemo"
`Nemo` has now multivariate factorization, so there is no need to do conversion to `Singular` for this purpose anymore in `fast_factor`.

[2021-08-30 16:22] pogudingleb opened #43 "UTF (e.g., Greek letters) are not supported"
Greek letters yield an error, MWE:
[code]
This is because they are not supported by `Singular`. Conversion to `Singular` is currently used in two places
* factorization, to be eliminated by [this issue](https://github.com/SciML/StructuralIdentifiability.jl/issues/42)
* GB computation at the end

[2021-09-16 05:19] mahdiarsadeghi commented on #33
@iliailmer how did you fix this issue? I am getting the same error.

[2021-09-16 11:38] iliailmer commented on #33
@mahdiarsadeghi That's strange. What version of StructuralIdentifiability are you using?

[2021-11-14 20:59] #42 closed

[2021-11-14 21:00] pogudingleb commented on #42
Closed by https://github.com/SciML/StructuralIdentifiability.jl/pull/53

[2021-11-21 17:23] pogudingleb opened #55 "Replacing `GroebnerBasis` with `msolve`"
`GroebnerBasis.jl` is now depreciated, so it would be great to move the code to `msolve`. At the moment, F4 works only over finite fields, so one should either
 - refine the sampling bound from the paper (Theorem 3.3 in https://arxiv.org/abs/2111.00991)
 - reduce to the zero-dimensional solving

[2021-12-21 13:37] pogudingleb opened #63 "Speeding things up via linear first integrals"
## Main idea

Many models of interest (especially, in life sciences) have linear first integrals (for example, conservation of mass, etc.). If there is such a first integral `a_1 * x_1 + ... + a_n * x_n`, where `x_1, ..., x_n` are the states and `a_1, ...., a_n` are constants (maybe involving parameters), one can do the following:

1. introduce a new parameter `C = a_1 * x_1 + ... + a_n * x_n`
2.

[2022-01-10 09:15] finmod opened #70 "Test StructuralIdentifiability fails : libsingular not defined"
Running the MTK tutorial and testing this package fail because of this libsingular not defined error. It has been there since the beginning. Would be good if this issue could finally be resolved so that one can give a real test of this excellent package.

               _
   _       _ _(_)_     |  Documentation: https://docs.julialang.org
  (_)     | (_) (_)    |
   _ _   _| |_  __ _   |  Type "?"

[2022-01-10 09:24] pogudingleb commented on #70
Thank you for reporting this! I did not encounter this issue before. Could you try
[code]
?
What will it say?

[2022-01-10 09:39] finmod commented on #70
Same outcome! I installed Singular and updated the registries. My current >status is:
   _       _ _(_)_     |  Documentation: https://docs.julialang.org
  (_)     | (_) (_)    |
   _ _   _| |_  __ _   |  Type "?" for help, "]?" for Pkg help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 1.7.1 (2021-12-22)
 _/ |\__'_|_|_|\__'_|  |  Official https://julialang.org/ release
|__/

[2022-01-10 09:41] pogudingleb commented on #70
By the same outcome you mean that you get `libsingular not defined` while precompiling `Singular`?

[2022-01-10 09:42] iliailmer commented on #70
Quick question, does this happen on an Intel CPU or an Apple M1 chip?

[2022-01-10 12:19] iliailmer commented on #70
I just tried the same package collection (albeit on v1.6.5) in a new environment, I did not observe the error. I don't have access to an Intel machine, on my mac 1.7.1 does not succeed installing Nemo, Singular and other such dependencies. What happens if you try
[code]
?

[2022-01-10 12:42] finmod commented on #70
_
   _       _ _(_)_     |  Documentation: https://docs.julialang.org
  (_)     | (_) (_)    |
   _ _   _| |_  __ _   |  Type "?" for help, "]?" for Pkg help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 1.7.1 (2021-12-22)
 _/ |\__'_|_|_|\__'_|  |  Official https://julialang.org/ release
|__/                   |

julia> Using Singular
ERROR: syntax: extra token "Singular" after end o

[2022-01-10 12:44] iliailmer commented on #70
This is probably a typo, should be `using`, all lowercase @finmod

[2022-01-10 12:47] finmod commented on #70
Sorry.
               _
   _       _ _(_)_     |  Documentation: https://docs.julialang.org
  (_)     | (_) (_)    |
   _ _   _| |_  __ _   |  Type "?" for help, "]?" for Pkg help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 1.7.1 (2021-12-22)
 _/ |\__'_|_|_|\__'_|  |  Official https://julialang.org/ release
|__/                   |

julia> using Singular
[ Info: Precompiling Singul

[2022-01-10 13:01] iliailmer commented on #70
@finmod no worries.

So it seems that root cause is in Singular only. Do you have the LTS Julia installed? i think it's 1.6.5. Could be useful to try an older stable version.

Also, have you tried this?
[code]

Then, if the error is in precompilation, I think running
[code]
may give details about the specific issue.

[2022-01-10 13:27] finmod commented on #70
The problem is with Singular. The above command gives the sual error message. I do not have LTS 1.6.5 installed but it used to give me the same message. The failure to test StructuralIdentifiability has been around for quite some time. I just expected it would disappear with regular update of commits but it does not.

      _
   _       _ _(_)_     |  Documentation: https://docs.julialang.org
  (_

[2022-01-10 13:33] finmod commented on #70
I have done Pkg> add Singular#master and it gives this. Obviously there are several compat problems. with GroebnerBasis which, I read, is now deprecated and replaced by Oscar.jl

               _
   _       _ _(_)_     |  Documentation: https://docs.julialang.org
  (_)     | (_) (_)    |
   _ _   _| |_  __ _   |  Type "?" for help, "]?" for Pkg help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |

[2022-01-10 14:03] pogudingleb commented on #70
I agree with @iliailmer  - the problem seem to be in `Singular.jl`. @finmod , could you make an issue there?
I vaguely remember that there have been some issues in using `Singular.jl` on Windows machines (looks like @finmod  is using Windows). If this is the case, one could make the Singular dependency optional and use [this](https://github.com/sumiya11/GroebnerBases) for Windows.

[2022-01-10 16:04] finmod commented on #70
@finmod , could you make an issue there? Done.  https://github.com/oscar-system/Singular.jl/issues/538

[2022-01-10 18:31] pogudingleb commented on #70
Thank you! As they reply there, `Singular` is indeed not supported on Windows.
If you have some examples you wanted to try but do not have access to Mac/Linux machine, feel free to send them to me.
We will keep this in mind, in fact we have an [issue](https://github.com/SciML/StructuralIdentifiability.jl/issues/55) to replace `Singular` with `msolve` (but have to check whether this will help for W

[2022-01-11 10:22] finmod commented on #70
I will stay tuned to this issue to help test that Pkg> test StructuralIdentifiability passes on all OS.  The MTK tutorial is important for the visibility and dissemination of `StructuralIdentifiability` in the SciML ecosystem. It should rely on pure Julia code to avoid these OS controversies usually associated with wrapper packages for other languages.

[2022-01-11 11:16] ChrisRackauckas commented on #70
The tutorial does look great BTW. It would be good to add something to the MTK docs to give it visibility. Maybe something in the ODESystem analysis portion.

[2022-01-12 08:38] iliailmer commented on #63
If I understand correctly, would this require solving a system `Sum(A[i] Diff(x[i], t^j))=0` to find the coefficients `A[i]`?

[2022-01-12 20:06] pogudingleb commented on #63
What is `Diff(x[i], t^j)` in your notation?

[2022-01-13 12:53] iliailmer commented on #63
j-th Lie derivative of x[i], the i-th state variable.

[2022-01-13 16:11] pogudingleb commented on #63
I would not think that the Lie derivatives are necessary. Basically, we are talking about "one" equation `sum( A[i] * Diff(x[i], t)) = 0` but since `A[i]` must depend only on parameters but not states or inputs, this equation will yield several equations (for the polynomial case via collecting with respect to the degree in x). Does this make sense?

[2022-01-15 10:47] iliailmer commented on #63
Not entirely, sorry. I understand the starting idea: we have one linear combination for which we seek coefficients A[i]. We would need to differentiate w.r.t. time several times to obtain a square linear system for A[i], right? I guess I'm confused at this part:

[2022-01-15 19:19] pogudingleb commented on #63
Well, I think one could approach this via differentiation but this is very subtle (not to mention computationally demanding): the coefficients of the system will involve parameters and states while the solution will be sought in the parameters only.

Maybe discussing this on an example would be a better way:

[code]

We would like to find `A1, A2, A3` such that `A1 * x1'(t) + A2 * x2'(t) + A3 * x3

[2022-01-22 09:57] finmod commented on #55
The latest update to v0.3.5 does not solve this issue.

[2022-01-22 11:01] pogudingleb commented on #55
@finmod This is correct.
Note that, the used functionality of `GroebnerBasis.jl` is not completely supported by `msolve`, this makes the transition not straightforward.

[2022-01-22 13:05] iliailmer commented on #55
Right now I tried to make it work with `FiniteField` but it has not worked yet due to this error: https://github.com/SciML/StructuralIdentifiability.jl/runs/4762906264?check_suite_focus=true#step:5:989. I have not figured it out yet, I think it comes from some Nemo functionality. Also, once `msolve` works with characteristic 0, the transition should be simplified, so another solution is to wait 😃

[2022-01-25 14:39] iliailmer commented on #43
It seems that https://sumiya11.github.io/Groebner.jl/ can support the Unicode variable names. Could also be relevant to #55 .

[2022-01-26 13:52] pogudingleb commented on #43
Yes, this is true. I believe that Sasha first wanted to finish some things in the package before it can be used in `StructuralIdentifiability`, I will keep in touch with him about this

[2022-01-26 14:24] iliailmer commented on #43
@pogudingleb Thank you!

[2022-02-16 12:01] vembha opened #82 "Precompile error"
Unable to load `StructuralIdentifiability.jl` after installation without errors. Tried multiple clean installations, but the error persists. Following is the StackTrace error and version numbers:

`
[220ca800] StructuralIdentifiability v0.3.6
`
`
[961ee093] ModelingToolkit v8.4.1
`

[ Info: Precompiling StructuralIdentifiability [220ca800-aa68-49bb-acd8-6037fa93a544]
ERROR: LoadError: UndefVarErro

[2022-02-16 12:24] pogudingleb commented on #82
@vembha Thank you for reporting! What is your operating system? Windows?

[2022-02-16 12:27] vembha commented on #82
@pogudingleb Yeah, it is Windows. Also, I'm unable to add `SIAN.jl` package, but that also did had precompilation issue. Nevertheless, `ModelingToolkit.jl` was fine.

[2022-02-16 12:52] vembha commented on #82
Thank you @pogudingleb. Glad that the error is not at my end. 😅 I have a Linux machine and I shall try on it. 👍

[2022-03-20 02:04] iliailmer opened #92 "Identifiability from `ODEProblem` defined via function"
The following code

[code]
Produces this error at the very end
[code]

This is due to a Singular issue, as in #43. I could not find a workaround so far. If it's possible to automate this part

[code]

avoiding indexed notation, i.e. `x[1]`.

[2022-03-20 16:59] pogudingleb commented on #92
@iliailmer Thank you for reporting this! Just to clarify: is the problem with the symbols `[` and `]` in the variable name? Or I missing something?

[2022-04-09 14:26] qchenmath commented on #70
It may have issue on Linux too.  Here is OS info I found (not IT person, just followed internet instructions - we have IT person to deal with systems)
--------------------------------------------------------------
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="

[2022-04-09 18:31] qchenmath commented on #82
Was you able to add the package on your Linux machine? I failed...

[2022-04-09 18:34] vembha commented on #82
@qchenmath Yeah. I last checked it around two weeks ago and the package is working fine on a Linux machine.

[2022-04-09 18:47] qchenmath commented on #82
That is good to know. I failed to add 5 packages. The details are posted here:

https://github.com/SciML/StructuralIdentifiability.jl/issues/70

[2022-04-09 18:53] pogudingleb commented on #70
@qchenmath
Thank you for reporting this! This is puzzling. What happens if you do `using CxxWrap` ?

[2022-04-09 18:59] qchenmath commented on #70
I am new to Julia, and honestly have no clue - also, our IT person installed Julia 1.6.5 yesterday.

ERROR: LoadError: InitError: could not load library "/home/xxxxx/.julia/artifacts/b93c684e7135496a3c612fa8286c7e4ae50eb86d/lib/libcxxwrap_julia.so"
/opt/ohpc/pub/compiler/gcc/8.3.0/lib64/libstdc++.so.6: version `GLIBCXX_3.4.26' not found (required by /home/xxxxx/.julia/artifacts/b93c684e7135496a3c6

[2022-04-09 22:26] iliailmer commented on #70
@qchenmath [This](https://stackoverflow.com/questions/44205687/glibcxx-3-4-21-not-found-on-centos-7) could be relevant, it seems that there is a C-compiler issue on your machine.

[2022-04-10 03:20] qchenmath commented on #82
Post my error messages on another thread by accident. Anyways, so far I tried to add the package on Windows 10, Linux (centos), and MacPro (M1), without success. The linux and MacPro (M1) can't precompile for 6 packages - not all 6 are the same though.

[2022-04-10 03:36] qchenmath commented on #70
Thanks. I have very limited permission on that machine (cluster), and will have to wait until our IT person gets back to me.

[2022-04-10 08:35] pogudingleb commented on #70
@qchenmath
I guess you can still try what was recommended in the thread @iliailmer pointed out: typing `export LD_LIBRARY_PATH=/usr/local/lib:/usr/lib:/usr/local/lib64:/usr/lib64` in your command line. This should not require substantial permissions.

[2022-04-10 12:57] iliailmer commented on #82
@qchenmath Windows system unfortunately is not supported by `Singular.jl`. It should work on M1 with Julia-1.6 (via Rosetta). Native version (Julia-1.7 and higher) fails due to `BinaryProvider.jl` not working on M1 processors.

Were you installing using Julia-1.6 or 1.7 on the M1?

[2022-04-10 17:36] qchenmath commented on #82
Saw it somewhere else. Just changed to Julia 1.7.2 (via Rosetta). Working fine now.

[2022-04-10 17:46] qchenmath commented on #70
It didn't do anything. Still not working.  Earlier, tried

strings libstdc++.so.6.0.25 | grep GLIBCXX

It shows that 3.4.26 can't be found - it has up to 3.4.25.

[2022-04-12 14:11] baggepinnen opened #94 "Generic functions in equations?"
I had a go at defining a system with state `h`, inputs `u` and outputs `y`,
[code]
it looks like parameters, states, inputs and outputs were correctly identified, except it thinks that `sqrt` is a parameter, and as a consequence it fails:
[code]
If I remove `sqrt`, it accepts the definition. I couldn't figure out from the docs whether or not this is a known limitation or a bug?

[2022-04-12 14:19] pogudingleb commented on #94
@baggepinnen
Currently, the package solves only systems with rational (that is, polynomial divided by polynomial) right-hand side, square roots are not allowed.
One workaround could be to write a system of equations on `sqrt(h1), .., sqrt(h4)`, not on `h1, ..., h4` themselves.

[2022-04-12 14:29] baggepinnen commented on #94
Thanks for your input @pogudingleb, the suggested workaround is indeed perfectly fine for this system :)

[2022-04-12 14:29] #94 closed

[2022-04-12 18:33] bendkok opened #95 "Suppressing Info blocks"
Hi.

When I use StructuralIdentifiability to define an ODE-model, and then check its identifiability, these big "Info:" blocks are printed after either action. I'm not that interested in them, and they take up a lot of space. Is there a way to suppress or hide these/to have them not appear?
Any help would appreciated.

Here is an example of what I'm talking about:
Input:
[code]
Output:
[code]

Inp

[2022-04-12 19:35] pogudingleb commented on #95
@bendkok
Yes, you can disable logging by adding the following lines at the beginning
[code]

[2022-04-12 19:56] bendkok commented on #95
Thanks!

[2022-04-12 19:56] #95 closed

[2022-04-13 02:53] qchenmath commented on #70
With the help of our IT staff, it worked on linux cluster.

1) Test a model on my MacPro M1 with 16G memory. Didn't finish after >16 hours. Use all memory from time to time.
2) On the cluster (Centos), assigned 20G memory, it finished in 7.8 hours.

[2022-04-13 06:55] pogudingleb commented on #70
I believe that having more memory may be quite important: on a relatively slow server but with 100G, I got the same model in less than two hours.

[2022-04-13 16:19] pogudingleb commented on #70
A priori estimates are really hard to get. If you see that swap memory is being used, then it will likely to be very slow.

[2022-04-14 12:55] qchenmath opened #98 "Dramatically different results from 2 runs"
Did the test twice, and got very different results. Rare events?

Here is the model:
---------------------------------------------------------

using Logging

using StructuralIdentifiability

logger = Logging.SimpleLogger(stdout, Logging.Info)
global_logger(logger)

ode = @ODEmodel(
    S'(t) = -beta_SA * S(t)*(A(t) + P(t) ) - beta_SI *S(t)*In(t),
    E'(t) = beta_SA* S(t) * (A(t) + P(t) ) + beta_

[2022-04-15 02:02] iliailmer commented on #98
I ran one iteration, got what looks like the second result for now. Will do a couple more runs.

[2022-04-15 06:06] pogudingleb commented on #98
Same here, I also got the second result.

[2022-04-15 08:04] pogudingleb commented on #98
Ok, I have run the model twice and got the same two results, so something is likely to be wrong, I will check this carefully.

[2022-04-17 01:45] iliailmer commented on #98
So far, I keep getting result 2.

[2022-04-19 14:13] qchenmath commented on #98
I run it for 6 times in total. Got result 1 twice, and result 2 four times. Also tested other 'smaller' models. All gave expected results. Maybe this model is too complicated in some way -- pushing certain things to its limit?

[2022-04-19 14:40] iliailmer commented on #98
@qchenmath could you please post the version of StructuralIdentifiability that you are using?

[2022-04-19 14:45] pogudingleb commented on #98
@qchenmath
The system is indeed "hard" in an appropriate sense. I have run 10 times (with debugging output to understand the issue) but was not able to get the first result yet, still trying

[2022-04-19 15:16] qchenmath commented on #98
You got the 1st result before?

[2022-04-19 15:18] pogudingleb commented on #98
Yes, but without debuggin output) So I am optimistic that I should get it sooner or later

[2022-04-19 15:20] qchenmath commented on #98
Status `~/.julia/environments/v1.7/Project.toml`
  [220ca800] StructuralIdentifiability v0.3.8

[2022-04-20 20:24] pogudingleb commented on #98
@qchenmath
I managed to reproduce the first behavior and indeed there is a bug in the package we use for Groebner basis computation (likely an overflow) which sometimes shows up for this system. As quick fix for now, the result of GB computation is additionally checked and, if there was such an issue, an error message will appear asking to run the computation again.
This version can be installed n

[2022-04-20 21:06] qchenmath commented on #98
Thanks a lot. Not sure if it is related. I run it a few more times, and didn't get the 1st result anymore. These runs were on a node with AMD chip.  The earlier runs were on Intel chip. Will try the fix on the Intel chip right away.

[2022-04-24 00:45] qchenmath commented on #98
Had a couple of more runs - only 2nd result now.

One related question: Any plan to include the functionality of finding identifiable combinations in the Julia package? I tried the SIAN WebApp. Got the following error message when I tested a complex model:
---------------------------------
Running Multi-Experiment ID check:
---------------------------------
	=> Computing input-output equations
Som

[2022-04-24 07:51] pogudingleb commented on #98
@qchenmath

1. Yes, we plan to include computing identifiable combinations. It is possible now by combining Julia and Maple: the Julia code can find identifiable combination in an non-simplified form, and the one can use https://github.com/pogudingleb/AllIdentifiableFunctions to simplify them. If you have access to Maple, I can write an instruction how to do this (sorry, this is not intuitive for

[2022-04-24 13:43] iliailmer commented on #98
Full error message:DifferentialAlgebra:-RosenfeldGroebner, "found functions in 'function' notation, %1, also appearing in 'jet' notation, as in %2", {Ry3(t)}, {Ry3}

@qchenmath Can you please send the example you used for the webapp?

[2022-04-24 13:50] qchenmath commented on #98
The model:

dPo0/dt = Po1,
dPo1/dt = Po2,
dPo2/dt = -(Fo*Ro2*Ro3*Po0+(Fo*Ro2+Fo*Ro3+Ro2*Ro3)*Po1+(Fo+Ro2+Ro3)*Po2)-alphaO+
gama*(Py3+Fy*Ry2*Ry3*Py0+(Fy*Ry2+Fy*Ry3+Ry2*Ry3)*Py1+(Fy+Ry2+Ry3)*Py2 + alphaY),
dPy0/dt = Py1,
dPy1/dt = Py2,
dPy2/dt = Py3,
dPy3/dt = -(Fy*Ry2*Ry3*Py1+(Fy*Ry2+Fy*Ry3+Ry2*Ry3)*Py2+(Fy+Ry2+Ry3)*Py3) -
(r1*Py4 +((Cy1+Cy2)*Py2 +(Cy1*(Ry2+Ry3)+Cy2*(Ry3+r1))*Py1 + Ry3*(Cy1*Ry2+r1*

[2022-04-24 13:54] qchenmath commented on #98
Thanks for the tip. It finished, but with the following result:

Dict{Any, Symbol}(alphaO => :globally, Ro2 => :locally, Co2 => :locally, Ry2 => :locally, Ry3 => :globally, Cy1 => :locally,
alphaY => :globally, r1 => :globally, Fy => :locally, Cy2 => :locally, Co1 => :locally, beta => :nonidentifiable, Fo => :loca
lly, gama => :globally, Ro3 => :globally)AbstractAlgebra.RingElem[Fo*Ro2, Fo + Ro2,

[2022-04-24 14:26] pogudingleb commented on #98
I believe that the parenthesis have been a bit misplaced, it should rather be
[code]

[2022-04-24 14:39] qchenmath commented on #98
You are right. Interesting, it didn't complain!

[2022-04-24 15:30] iliailmer commented on #98
y4=alphaY,
y5=Ry3,
y6=Ro3,
y7=r1,
y8=gama

Going back to the webapp issue, the app considers Ry3 as input function, and not a parameter. For now, the best way to provide globally identifiable parameter known in advance would be to either replace it with a number (@pogudingleb can this affect other parameters if we know the replaced one to be globally identifiable?) or do the following:

1. add dRy

[2022-04-24 15:41] pogudingleb commented on #98
@iliailmer
Yes, replacing a parameter with a constant may make some identifiable combination incorrect, so I would not advise this.
Another option would be to use SIAN-style input in the app, then `y5 = Ry3` will be interpreted correctly (ie that Ry3 is a parameter).

[2022-04-24 18:28] qchenmath commented on #98
The results are expected - from my experience with a simpler model. But I tried with and without y5 = Ry3, after adding equ dRy3/dt=0. Neither worked for me.

Also, tried to use SIAN-style. It didn't work either. Here is the model:

diff(Po0(t), t) = Po1(t),
diff(Po1(t), t) = Po2(t),
diff(Po2(t), t) = -(Fo*Ro2*Ro3*Po0(t)+(Fo*Ro2+Fo*Ro3+Ro2*Ro3)*Po1(t)+(Fo+Ro2+Ro3)*Po2(t))-alphaO+gama*(

[2022-04-25 01:47] iliailmer commented on #98
@qchenmath There is a `Py3(t)` missing in the 3rd ODE:

diff(Po2(t), t) = -(FoRo2Ro3Po0(t)+(FoRo2+FoRo3+Ro2Ro3)Po1(t)+(Fo+Ro2+Ro3)Po2(t))-alphaO+gama(
**Py3**+FyRy2Ry3Py0(t)+(FyRy2+FyRy3+Ry2Ry3)Py1(t)+(Fy+Ry2+Ry3)Py2(t) +alphaY)

This should be the reason why the app complains.

[2022-04-25 02:33] qchenmath commented on #98
Thanks a lot. Didn't expect myself to make such a mistake. Now it works fine with SIAN-style input.

[2022-06-05 11:32] ChrisRackauckas opened #101 "Register"
@JuliaRegistrator register()

[2022-06-05 11:32] JuliaRegistrator commented on #101
Registration pull request created: [JuliaRegistries/General/61766](https://github.com/JuliaRegistries/General/pull/61766)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-06-07 14:43] vembha opened #102 "Issue with Julia 1.7"
Hello people,

The package is throwing errors when I use it in Julia version 1.7.3. But surprisingly, in Julia version 1.6.3, the same piece of code runs smoothly without any errors. Even the example given in the Git page's readme is throwing an error!

**Output from v 1.6.3:**
[code]

**Output from v 1.7.3:**
[code]

Also surprisingly, the version of the package is v0.3.9 in Julia 1.6.3 while it

[2022-06-07 18:39] pogudingleb commented on #102
@vembha
Thank you for reporting! There should be a dependency issue, I will check it by the end of the week.

[2022-06-09 00:12] iliailmer commented on #102
@vembha can you please post the result of the following julia command?

[code]

The issue with versions is due to a dependency you may have installed, possibly an older version of Nemo/abstractAlgebra.

[2022-06-09 14:07] vembha commented on #102
The status of my packages, as you've asked for:
[code]

[2022-06-10 13:40] qchenmath opened #103 "Any way to impose constraints?"
It isn't an issue, but more of a functionality. Is there a way to impose constraint like, the bounds for parameters, or the bounds for the state-variables, in the identifiability analysis?

[2022-06-10 19:50] pogudingleb commented on #103
No, there is no such feature now. We would like to have it but it is quite challenging.
In the case one is able to find identifiable combinations, one can try to impose constraints there. If you have a particular example you are interested in, feel free to send to me.

[2022-06-11 15:05] iliailmer commented on #102
@vembha Thank you. I could not reproduce the issue yet. What operating system are you using?

[2022-06-11 15:36] qchenmath commented on #103
I was just playing with the SEIR model. Two parameters: gamma and sigma and two initial conditions S(0), E(0) are locally identifiable. They all have 2 possible solutions. Interestingly enough, the second-set set of solutions are not physical - with negative values for R. It means that in practical situations, one won't get the 2nd set. The ultimate question is: how bad will it be if some paramete

[2022-06-11 18:48] pogudingleb commented on #103
Yes, this process is currently not fully automatized. The strategy I have been using with such constraints was:
* find the identifiable functions for parameters
* check how many parameter values are there if one fixes the identifiable functions and imposes constraints.

An example (similar to yours) would be if you have: you have two parameters `a` and `b` and the identifiable functions are `a + b

[2022-06-12 01:45] vembha commented on #102
My Julia is installed in my university's HPC machine. The OS is Cent OS. But weirdly, on the same system, they have Julia v1.6, where the package works perfectly. So, I think it is not related to the OS or the machine, but something else.

Hope that helps.

[2022-06-12 15:45] iliailmer commented on #102
Thanks for the info, @vembha . What happens if you try to install the specific version, like the code below?
[code]

[2022-06-12 16:28] iliailmer commented on #102
I tried CentOS Linux release 7.9.2009 with Julia-1.7.3, on a new environment with `>]activate /tmp/structural_identifiability` and with required packages added one by one starting with `StructuralIdentifiability.jl`. The example worked, I could not reproduce the issue.

I also tried installing everything at once and specifying the version, this worked on my CentOS HPC
[code]

Hope this helps.

[2022-06-12 18:45] vembha commented on #102
Great, it worked for me too. Thanks! 😄 It looks like forcibly choosing the version number for installation gets the work done.

[2022-06-13 14:33] #102 closed

[2022-06-24 14:04] nolsman opened #107 "Method Error when trying to run example code"
I was just trying to run the example code copied directly from here: https://github.com/SciML/StructuralIdentifiability.jl/blob/master/examples/CRN.jl

and am getting the output pasted below. I also tried running the library on an ODE model of my own and other examples, always getting the same output. Is this a known bug? I tried running `Pkg.update("StructuralIndentifiability") to see if that hel

[2022-06-24 14:51] pogudingleb commented on #107
@nolsman Could you give your `st -m` (versions of the packages)?

[2022-06-24 16:25] nolsman commented on #107
Sure, this is what I get out:

Pkg.status("StructuralIdentifiability")
Status `~/.julia/environments/v1.6/Project.toml`
[220ca800] StructuralIdentifiability v0.1.0

[2022-06-25 19:23] pogudingleb commented on #107
It looks like you have a very old version of the package, could you try to install the up-to-date one with `add StructuralIdentifiability@0.3.10`?

[2022-06-28 13:05] nolsman commented on #107
Yup that fixed it! No idea why Pkg defaulted to installing the v0.1.0, but it all seems good now. Thanks for the help!

[2022-06-28 13:05] #107 closed

[2022-07-11 23:16] pogudingleb commented on #101
@JuliaRegistrator register()

[2022-07-11 23:16] JuliaRegistrator commented on #101
Registration pull request created: [JuliaRegistries/General/64059](https://github.com/JuliaRegistries/General/pull/64059)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-07-12 11:41] pogudingleb commented on #82
@vembha
The new release 0.4.0 works on Windows, please let us know if you encounter any issues if you decide to try on a Windows machine.

[2022-07-12 11:41] #82 closed

[2022-07-12 11:42] pogudingleb commented on #70
@finmod
The new release 0.4.0 works on Windows. Please let us know if you encounter any issues with it.

[2022-07-12 11:42] #70 closed

[2022-07-12 11:43] pogudingleb commented on #43
Starting with version 0.4.0 greek letters are supported

[2022-07-12 11:43] #43 closed

[2022-07-12 12:29] pogudingleb commented on #98
@qchenmath
For your original question: the new release 0.4.0 of `StructuralIdentifiability` uses another backend for Groebner bases, so now one gets always the second result (which is correct) and, by the way, faster. Let us know if you will have any questions/comments.

[2022-07-12 12:29] #98 closed

[2022-07-13 14:14] vembha commented on #82
@pogudingleb Yes, it is now working! Thank you. :)

[2022-07-31 11:20] pogudingleb commented on #101
@JuliaRegistrator register()

[2022-07-31 11:20] JuliaRegistrator commented on #101
Registration pull request created: [JuliaRegistries/General/65376](https://github.com/JuliaRegistries/General/pull/65376)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-09-04 00:06] amostof opened #122 "Different results on `StructuralIdentifiability` and `SIAN`"
Hello,
When I run this system of ODEs on `StructuralIdentifiability` vs `SIAN`, I get different results,
[code]

I assumed that the reason might be because `StructuralIdentifiability` assumes the initial conditions to be known while `SIAN` assumes them to be unknown. Is there a way for me to set the initial conditions to know/unknown on either package?

[2022-09-04 08:15] pogudingleb commented on #122
@amostof
Thank you for contacting us and for a very interesting example!

In fact, both tools assume that the initial conditions are unknown (the colleagues are working on adding a feature of known generic initial conditions to `SIAN`).

The reason for the discrepancy you have observed is that `SIAN` assesses *single-experiment* identifiability, that is, whether observing one trajectory is enough

[2022-09-04 22:51] amostof commented on #122
Thanks for the prompt and clear response. That solves my problem. I do have another question. In the main README.md file
we have,

What does this generic enough condition mean and is it applicable here for `co`?

[2022-09-05 06:43] pogudingleb commented on #122
@amostof
Input function is a function which appears only on the right-hand side, you can think of it as an external force imposed by an experimenter (or, say, drug injection). Genericity means that it is nonconstant enough to nontrivially perturb the system.
If I understand correctly, your `co` is constrained to have constant dynamics, so it cannot be viewed as an exciting input.

[2022-09-05 17:57] amostof commented on #122
I see. But setting `co` equal to a constant as you mentioned via `y4(t) = co`, means that `co` is constrained to have constant dynamics, and would mean that structural identifiability will be granted with only one experiment. Right?

[2022-09-05 19:05] pogudingleb commented on #122
Setting `y4(t) = co` indeed means that `co` is constrained to be a constant, and the result of identifiability analysis (with two parameters being nonidentifiable) will correspond to a single experiment.
I hope this answers your question.

[2022-09-05 19:40] amostof commented on #122
Yes it does. Thanks for all the help.

[2022-09-05 19:40] #122 closed

[2022-10-16 12:12] Mehdilotfi7 opened #123 "Check Structural Identifiability with some fixed parameters"
I am using StructuralIdentifiability.jl package to check the Identifiability of ODE by fixing some model parameters. The model includes seven variable states and 22 parameters, of which 12 are fixed. (I defined fixed parameters by param_values as Dict.)
I have googled it and found nothing more except using StructuralIdentifiability.set_parameter_values(ode, param_values) function, but when I use i

[2022-10-16 14:29] pogudingleb commented on #123
@Mehdilotfi7
Yes, you can use `set_parameter_values`, the reason why you are getting this error is that it expects rational numbers, not floats. So for now you can pass the numbers as rationals, say `QQ(1903, 100)` instead of `19.03`. You can use this [example](https://github.com/SciML/StructuralIdentifiability.jl/blob/master/examples/NFkB.jl) as a template.

Thank you for brining up this issue, w

[2022-10-16 15:56] Mehdilotfi7 commented on #123
Thank you for your nice response, it worked.
I think your mentioned notation about conversion is a good idea.

[2022-10-20 04:23] pogudingleb commented on #123
@Mehdilotfi7
The feature with using floats in `set_parameter_values` is available in the current version on GitHub and will be included into the next release. Thank you again for bringing it up!

[2022-10-20 04:23] #123 closed

[2022-10-26 15:45] FabiJa opened #126 "system class"
Hi,

I am just curious and testing your library.

Now I have one question:
Which type of system does your library support? Only polynomial ODEs?
I am asking because I am getting the following error, when parsing a MWE model:
` ode = @ODEmodel(
    x1'(t) = a*x1(t)+sin(u(t)),
    y(t) = x1(t)
    )`
This leads to the following error:
`[ Info: Summary of the model:
[ Info: State variables: x1
[ Info

[2022-10-26 15:54] iliailmer commented on #126
Hi @FabiJa , thank you for your question! Yes, currently only rational functions are supported for the right-hand side of the ODE system.

[2022-10-26 15:58] FabiJa commented on #126
Ok, thank you. I missed this in the documentation.

[2022-10-26 16:09] #126 closed

[2022-10-27 19:09] pogudingleb commented on #101
@JuliaRegistrator register()

[2022-10-27 19:09] JuliaRegistrator commented on #101
Error while trying to register: "Tag with name `v0.4.1` already exists and points to a different commit"

[2022-10-27 19:10] pogudingleb commented on #101
@JuliaRegistrator register()

[2022-10-27 19:10] JuliaRegistrator commented on #101
Error while trying to register: "Tag with name `v0.4.1` already exists and points to a different commit"

[2022-10-27 19:12] JuliaRegistrator commented on #101
Registration pull request created: [JuliaRegistries/General/71191](https://github.com/JuliaRegistries/General/pull/71191)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-11-08 16:03] MaAl13 opened #128 "Identifiability of ModelingToolkit models"
Hello,

i have the following problem. My goal is to get the identifiability of parameters in SBML models. These are imported via SBMLToolkit into ModelingToolkit format. Is there an easy way to run your package on this ModelingToolkit ODE problem? The observables that i have are currently in a Vector of Strings. Currently i am building your ODESystem macro the hard way with the eval() function, ba

[2022-11-08 18:21] iliailmer commented on #128
Hi @MaAl13 , thank you for the question! Can you share an example of the model you're working with? The code should support the ODE problems defined by ModelingToolkit generally.

[2022-11-08 20:42] MaAl13 commented on #128
Hello Ilia, thank you so much for your response!!
Maybe it is trivial for you, basically i thought it would be nice to do sth like below. I want to import the model with the SBMLToolkit and put it in the StructuralIdentifiability/SIAN. But for me it is unclear how to add the observables to the ODE system and if the ModelingToolkit system is okay as an input for assess_identifiability.

[code]

[2022-11-09 13:46] iliailmer commented on #128
Thank you! One that is expected by `assess_identifiability` is that `measured_quantities` is passed as an array of Equation objects. For example, if your measured quantity is `x1(t)`, you would pass `[y1~x1]`.

I could not run the code without the XML file, but try something like this:

[code]

[2022-11-09 18:35] MaAl13 commented on #128
Thank you very much for your input! It definietly makes sene to add the Array of Equations, I modified the code with your suggestions, however there still occurs an error.
The code is now the following
[code]
This leads to the error
[ Info: Preproccessing `ModelingToolkit.ODESystem` object
ERROR: MethodError: no method matching getmetadata(::Int64, ::Type{ModelingToolkit.VariableOutput}, ::Nothing

[2022-11-09 21:13] iliailmer commented on #128
Thanks for linking to the model. I checked the equations:
[code]
returns

[code]
The last three are causing the errors issues, since these are not ODEs and `assess_identifiability` does not know how to deal with them.

I think plugging the last three equations into the first two would work, but this might need to be done manually.

[2022-11-09 21:15] ChrisRackauckas commented on #128
Do `structural_simplify(odesys_SBML)` to eliminate the algebraic equations.

[2022-11-10 16:39] iliailmer commented on #128
@ChrisRackauckas thank you! This works, however, it appears the `eval_at_nemo` does not detect ` `Float` coefficients in this particular ODE, I will look into it.

[2022-11-14 11:19] MaAl13 commented on #128
Thank you both! Indeed i also get an error if i use the structural_simplify beforehand. Right now i am checking if the system contains no algebraic equations with the condition that the right hand side of each equation has a differential at the beginning. I use now a pure ODE system but i am still running in an error

[code]

[ Info: Preproccessing `ModelingToolkit.ODESystem` object
ERROR: MethodE

[2022-11-21 15:09] iliailmer commented on #128
@MaAl13 for the code you attached the issue was this line:

[code]

The string conversion prevented the StructuralIdentifiability code from properly parsing the right-hand side of output equation. removing the string conversion works:

[code]

[2022-11-28 16:23] MaAl13 commented on #128
Ah, thank you for pointing out my error!